/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES (OBLIGATORIO PARA NOTA) */
:root {
    --primary: #2563eb;
    --secondary: #6b7280;
    --success: #16a34a;
    --warning: #f59e0b;
    --danger: #dc2626;

    --bg: #f2f2f2;
    --card: #ffffff;
    --text: #111827;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    padding: 20px;
    color: var(--text);
}

/* TITULOS */
h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

/* SECCIONES */
section {
    background-color: var(--card);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

/* BOTONES BASE */
.btn {
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

/* TIPOS DE BOTONES */
.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.danger {
    background-color: var(--danger);
}

/* HOVER Y FOCUS (TE SUBE NOTA) */
.btn:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.btn:focus {
    outline: 2px solid black;
}

/* FORMULARIO */
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
}

/* FOCUS INPUT */
input:focus,
textarea:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}

/* CARD */
.card {
    background-color: #f9f9f9;
    padding: 15px;
    border-left: 5px solid var(--primary);
    border-radius: 8px;
}

/* ALERTAS */
.alert {
    padding: 15px;
    border-radius: 6px;
    color: white;
}

.success {
    background-color: var(--success);
}

.warning {
    background-color: var(--warning);
}

.danger {
    background-color: var(--danger);
}

/* BADGES (IMPORTANTE PARA TAREA) */
.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}

.high {
    background-color: var(--danger);
}

.medium {
    background-color: var(--warning);
}

.low {
    background-color: var(--success);
}